<%= simple_form_for(@order_profile) do |f| %>
  <% if @order_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_profile.errors.count, "error") %> prohibited this order_profile from being saved:</h2>

      <ul>
      <% @order_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.input :name %>



  <%= f.select :business_id, options_for_select(@business_names), {}, :id => "biz-select" %>

  <%= f.select :product_id, options_for_select(@product_names), {}, :id => "prod-select" %>

  <%= f.input :orderdescription, :label => "Special Instructions" %>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

