<%= simple_form_for(@order_profile) do |f| %>
  <% if @order_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_profile.errors.count, "error") %> prohibited this order_profile from being saved:</h2>

      <ul>
      <% @order_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.input :name %>

  <table>
    <thead>
      
    </thead>
    <tbody>
      <tr>
        <select>
          <% Business.find_each do |x| %>
          <option> <%=x.name%> </option>
        </select>
      </tr>
      <tr>
          <%= Product.find_each do |p| %>
          <% if p.business_id == x.id %>
          <td>
            <%= p.name %>
          </td>
          <% end %>
          <% end %>
      </tr>
    </tbody>
    <% end %>

 

  <%= f.input :orderdescription, :label => "Special Instructions" %>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

