<%= simple_form_for(@order_profile) do |f| %>
  <% if @order_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_profile.errors.count, "error") %> prohibited this order_profile from being saved:</h2>

      <ul>
      <% @order_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.input :name %>

  <%= form_tag users_path, {:method => :get, :class => "users_search_form"} do %>
      <%= select_tag :business_id, options_from_collection_for_select(Business.all, "id", "name"), :prompt => "Select a Business" %>
      <%= select_tag :product_id, options_from_collection_for_select(Product.all, "id", "name", "business_id"),
                     "data-option-dependent" => true,
                     "data-option-observed" => "business_id",
                     "data-option-url" => "/specialization_types/:specialization_type_id:/specializations.json",
                     "data-option-key-method" => :id,
                     "data-option-value-method" => :name %>
  <% end %>

  <%= f.input :orderdescription, :label => "Special Instructions" %>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

