<div id="about-us-banner">
  <div class="jumbotron jumbotron-about-us container-fluid text-center">
       <%= image_tag('reupteam.svg', class: "reup-about hidden-xs")  %>
       <%= image_tag('reupteam.svg', class: "transparent-bg img-responsive hidden-sm hidden-md hidden-lg col-xs-12")  %>
  </div>
</div>
<div id="about-us-row" class="lander-row-2">
  <div class="container">
    <!-- <div class="about-text-banner hidden-sm hidden-md hidden-lg">
      <h2>
        The
      </h2>
      <br>
      <h1>
        Re-up
      </h1>
      <br>
      <h2>
        Team
      </h2>
    </div> -->
    <div class="row">
      <h3 class="text-center">
        THE TEAM
      </h3>
      <br>
      <br>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag('', class: "img-responsive profile-img")  %>
        <br>
        <p class="text-center">
          Joshua Echeverri
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag('', class: "img-responsive profile-img")  %>
        <br>
        <p class="text-center">
          Max Rosario
        </p>
      </div>
      <div class="col-md-4">
        <%= image_tag('', class: "img-responsive profile-img")  %>
        <br>
        <p class="text-center">
          Jeff Shapiro
        </p>
      </div>
    </div>
  </div>
</div>
<div class="description">
<p>
  The Re-Up Team is a collective of full-stack developers working out of The Lab in Wynwood, Miami, FL. The bedrock of our team is a trio of Wyncode Academy alumni with a wide-scope of technical and community experience.
</p>
<p>
  Please don't hesitate to send us a message with any questions.
</p>
</div>

<h2>Contact us</h2>

<%= yield %> <!-- renders contact form? -->
