<div id="about-us-banner">
  <div class="jumbotron jumbotron-about-us container-fluid text-center">
    <div id="about-us-row" class="lander-row-2">
      <div class="container transparent-bg">
        <div class="row">
        <%= image_tag('reupteam.svg', class: "reup-about hidden-xs")  %>
        <%= image_tag('reupteam.svg', class: "img-responsive hidden-sm hidden-md hidden-lg col-xs-12")  %>
          <br>
          <br>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= image_tag('josh.png', class: "img-responsive profile-img")  %>
            <br>
            <p class="text-center">
              Josh Echeverri
            </p>
          </div>
          <div class="col-md-4">
            <%= image_tag('max.png', class: "img-responsive profile-img")  %>
            <br>
            <p class="text-center">
              Max Rosario
            </p>
          </div>
          <div class="col-md-4">
            <%= image_tag('jeff.png', class: "img-responsive profile-img")  %>
            <br>
            <p class="text-center">
              Jeff Shapiro
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="wyncode col-md-6">
      <div class="divider divider-top">
      </div>
    <div class="text-center description">
      <p>
      <br>
        The Re-Up Team is a collective of full-stack developers working out of The Lab in Wynwood, Miami, FL. The bedrock of our team is a trio of Wyncode Academy alumni with a wide-scope of technical and community experience.
      </p>
      <p>
        Please don't hesitate to send us a message with any questions.
      </p>
      <br>
      <div class="divider bottom-buffer">
      </div>
      </div>
    </div>

    <div class="col-md-6 bottom-buffer">
      <%= render "contacts/form" %> <!-- renders contact form? -->
    </div>
  </div>
</div>
