<!DOCTYPE html>
<html>
<head>
  <title> Re-Up | Get your fix.</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header-inner">
    <div class="logo">
      <%= link_to image_tag('logo.png') %>
    </div>
    <nav>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Log In", new_user_session_path %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% end %>
    </nav>
  </header>

<%= yield %>

  <footer>
    <p>The Re-Up Team</p>
  </footer>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>
